@import '../../assets/style/colors';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Bellefair&display=swap');

.home {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


@keyframes animate_grow {
    0% {
        transform: scale3d(1.3, 1.3, 1.3);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
}

// @keyframes spin {
//     from {
//       transform: rotate(0turn);
//     }
//     to {
//       transform: rotate(1turn);
//     }
//   }

.planets__box {
    position: absolute;
    display: flex;
    left: 620px;
    top: 220px;

    &__banner {
        max-width: 220px;
        position: absolute;
        left: 130px;
        top: 260px;
        animation: animate_grow 2s infinite;
        // animation: spin 8s;
        // animation-timing-function: linear;
        // animation-iteration-count: infinite;
    }

    &__title {
        font-size: 100px;
        color: $color-white;
        font-family: 'Bellefair';
    }

    &__txt {
        max-width: 444px;
        width: 100%;
        color: $color-txt;
        font-size: 20px;
        font-family: 'Barlow Condensed';
        margin-bottom: 40px;
    }

    &__info2 {
        display: flex;
    }

    &__info2::after {
        content: '';
        position: absolute;
        width: 450px;
        height: 1px;
        background: $color-grey;
        top: 225px;
    }

}

.planets__title {
    position: absolute;
    color: $color-white;
    top: 140px;
    left: 80px;
    font-family: 'Barlow Condensed';
    letter-spacing: 5px;

    .planets__txt {
        color: $color-grey;

    }
}

@media (max-width:1024px) {

    .home {
        height: 150vh;
    }

    .planets__box {
        left: 520px;
        top: 240px;

        &__banner {
            max-width: 160px;
            left: 200px;
            top: 280px;
        }

        &__title {
            font-size: 80px;
        }

        &__txt {
            max-width: 400px;
            width: 100%;
            color: $color-txt;
            font-size: 16px;
        }

        &__info2::after {
            width: 380px;
            height: 1px;
            background: $color-grey;
            top: 170px;
        }

    }

    .planets__title {
        top: 160px;
        left: 140px;
        letter-spacing: 3px;
        font-size: 16px;
    }

}

@media (max-width:961px) {
    .planets__box {
        left: 480px;
        top: 240px;


        &__banner {
            max-width: 160px;
            left: 160px;
            top: 280px;
        }
    }
}

@media (max-width:850px) {

    .home {
        height: 250vh;
    }

    .planets__box {
        left: 230px;
        top: 600px;
        text-align: center;

        &__banner {
            max-width: 200px;
            left: 320px;
            top: 240px;
        }

        &__info2::after {
            width: 410px;
            height: 1px;
            top: 170px;
        }

    }

    .planets__title {
        top: 100px;
    }

}

@media (max-width:768px) {
    .planets__box {
        left: 200px;
        top: 600px;
        text-align: center;

        &__banner {
            max-width: 200px;
            left: 320px;
            top: 240px;
        }

    }
}

@media (max-width:736px) {
    .planets__box {
        left: 180px;
        top: 600px;

        &__banner {
            max-width: 200px;
            left: 280px;
            top: 240px;
        }

    }
}

@media (max-width:641px) {
    .planets__box {
        left: 120px;
        top: 600px;

        &__banner {
            max-width: 180px;
            left: 240px;
            top: 240px;
        }

    }
}

@media (max-width:600px) {
    .planets__box {
        left: 100px;
        top: 600px;

        &__banner {
            max-width: 180px;
            left: 220px;
            top: 240px;
        }

    }
}

@media (max-width:481px) {

    .home {
        height: 200vh;
    }

    .planets__box {
        left: 70px;
        top: 490px;

        &__banner {
            max-width: 140px;
            left: 180px;
            top: 200px;
        }

        &__title {
            font-size: 60px;
        }

        &__txt {
            max-width: 350px;
            width: 100%;
            color: $color-txt;
            font-size: 16px;
        }

        &__info2::after {
            width: 350px;
            height: 1px;
            background: $color-grey;
            top: 160px;
        }

    }
}

@media (max-width:414px) {
    .planets__box {
        left: 60px;
        top: 490px;

        &__banner {
            max-width: 140px;
            left: 150px;
            top: 200px;
        }

        &__title {
            font-size: 55px;
        }

        &__txt {
            max-width: 300px;
            width: 100%;
            font-size: 14px;
        }

        &__info2::after {
            width: 300px;
            height: 1px;
            background: $color-grey;
            top: 150px;
        }

    }

    .planets__title {
        left: 110px;
    }
}

@media (max-width:360px) {

    .planets__box {
        left: 50px;
        top: 490px;

        &__banner {
            max-width: 140px;
            left: 115px;
            top: 200px;
        }

        &__title {
            font-size: 55px;
        }

        &__txt {
            max-width: 260px;
            width: 100%;
            font-size: 14px;
        }

        &__info2::after {
            width: 260px;
            height: 1px;
            background: $color-grey;
            top: 150px;
        }

    }

    .planets__title {
        left: 90px;
        font-size: 14px;
    }
}

@media (max-width:320px) {
    .home {
        width: 115vh;
    }

    .planets__box {
        left: 100px;
        top: 490px;

        &__banner {
            max-width: 140px;
            left: 160px;
            top: 200px;
        }

        &__title {
            font-size: 55px;
        }

        &__txt {
            max-width: 260px;
            width: 100%;
            font-size: 14px;
        }

        &__info2::after {
            width: 260px;
            height: 1px;
            background: $color-grey;
            top: 150px;
        }

    }

    .planets__title {
        left: 140px;
        font-size: 14px;
    }
}