@import '../../assets/style/colors';



.planets__items {
    display: inline-block;
}

.planets__link {
    position: absolute;
    cursor: pointer;
    top: 200px;
    left: 630px;
    bottom: 0px;
    display: flex;
    gap: 20px;
    font-family: 'Barlow Condensed';
    color: $color-white;

    .active {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        border: 1px solid $color-grey;

    }
}


@media (max-width:1024px) {
    .planets__link {
        left: 530px;
    }
}
@media (max-width:961px) {
    .planets__link {
        left: 490px;
    }
}
@media (max-width:850px) {
    .planets__link {
        left: 290px;
        top: 560px;
        gap: 50px;
    }
}
@media (max-width:768px) {
    .planets__link {
        left: 260px;
        top: 570px;
        gap: 50px;
    }
}
@media (max-width:736px) {
    .planets__link {
        left: 240px;
        top: 570px;  
    }
}
@media (max-width:641px) {
    .planets__link {
        left: 190px;
        top: 570px;  
    }
}
@media (max-width:600px) {
    .planets__link {
        left: 160px;
        top: 570px;  
    }
}
@media (max-width:481px) {
    .planets__link {
        left: 110px;
        top: 450px;  
    }  
}
@media (max-width:414px) {
    .planets__link {
        left: 90px;
        top: 450px;  
        font-size: 13px;
    }
}
@media (max-width:360px) {
    .planets__link {
        left: 60px;
        top: 450px;  
        font-size: 11px;
    }
}
@media (max-width:320px) {
    .planets__link {
        left: 100px;
        top: 450px;  
        font-size: 12px;
    }
}